* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Strait", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(242, 207, 141);
  background: linear-gradient(
    90deg,
    rgba(242, 207, 141, 1) 0%,
    rgba(217, 148, 65, 1) 30%,
    rgba(191, 97, 42, 1) 50%,
    rgba(115, 77, 45, 1) 65%,
    rgba(54, 54, 54, 1) 95%
  );
}

.container {
  width: 95%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  margin: 35px;
}

.cx1 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#astro {
  color: #0d0d0d;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px #bf612a;
}

#pod {
  color: #734d2d;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 3px solid #734d2d;
}

#escolha {
  color: #0d0d0d;
  margin-top: 15px;
}

#date {
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Strait", sans-serif;
  text-align: center;
  font-size: 20px;
  border: 2px solid #d99441;
  border-radius: 10px;
}

#button {
  width: 100px;
  height: 35px;
  border: 2px solid #d99441;
  border-radius: 10px;
  box-shadow: 2px 2px #bf612a;
  font-family: "Strait", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.cx2 {
  display: none;
  justify-content: center;
  align-items: center;
}

.cx2 img {
  max-width: 700px;
  min-width: 470px;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
  border-radius: 15px;
  box-shadow: 3px 3px #734d2d;
}

#titulo {
  font-size: 28px;
  text-shadow: 2px 2px #bf612a;
  margin-bottom: 5px;
}

#texto {
  text-align: justify;
}

.rodape {
  width: 100vw;
  height: 60px;
  color: #0d0d0d;
  text-align: center;
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cx1 {
    width: 100%;
  }

  .cx2 {
    width: 100%;
  }
}
